<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>D96C529C-D5F2-424E-8900-4D3E7DC28D71</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aaa</string>
			<key>text</key>
			<string>Search Apple Abbreviations &amp; Acronyms</string>
			<key>url</key>
			<string>https://istweb.apple.com/aaa/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
